{% extends 'base.html' %}

{% block content %}
    <center><h2>Happy Page</h2></center>
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 10px;
}


}
</style>
</head>
<body>

<table>
  <tr>
    <th>Days of the Week</th>
    <th>meal</th>
  </tr>
  <tr>
    <td>Saturday</td>
    <td>Chicken</td>

  </tr>
  <tr>
    <td>Sunday</td>
    <td>Meat</td>

  </tr>
  <tr>
    <td>Monday</td>
    <td>...</td>

  </tr>
  <tr>
    <td>Wednesday</td>
    <td>..</td>

  </tr>
  <tr>
    <td>Thursday</td>
    <td>..</td>

  </tr>
  <tr>
    <td>Friday</td>
    <td>..</td>

  </tr>
</table>

</body>
</html>

{% endblock %}